@page "/counter"
@inject ProtectedSessionStorage ProtectedSessionStore

@*<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@if (currentCount.HasValue)
{
    <p>Current count: <strong>@currentCount</strong></p>

    <button @onclick="@IncrementCount">Increment</button>
}
else
{
    <p>Loading...</p>
}